* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.search-bar {
    width: 5px;
    min-width: 400px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    padding: 10px 20px;
    border-radius: 60px;
    align-items: center;
    backdrop-filter: blur(40px), saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    padding: 24px 20px;
    color: #cac7ff;
    border: 0;
    outline: 0;
    font-size: 20px;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;
}