* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#ffecd2, #fcb69f);
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.search-bar {
    width: 30%;
    min-width: 300;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.search-bar input {
    background: transparent;
    padding: 5px 5px;
    border: none;
    flex: 1;
    outline: none;
    color: #fcb69f;
    font-size: 20px;
}

::placeholder {
    color: #fcb69f;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background: #ffecd2;
    cursor: pointer;
}